@tailwind base;
@tailwind components;
@tailwind utilities;
/* virgil font */
@import 'webfontkit/stylesheet.css';

* {
  font-family: 'virgil_3_yoffregular';
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(251 207 232);
}
